*.tar.gz
*.tar.bz
*.tar.bz2
*.tgz
tmp/*
!tmp/.gitignore
tmp.log
package.xml
account.log
freetype-*
jemalloc-*
jpeg-*
jpegsrc*
libevent-*
libiconv-*
libmcrypt-*
libpng-*
mysql-*
openssl-*
pcre-*
php-*
redis-*
tengine-*
zlib-*
